In [3]:
import pandas as pd

living_df = pd.read_csv('../data/living_df.csv', index_col=0)

In [4]:
living_df

       STDR_DE_ID  ADSTRD_CODE_SE   TOT_LVPOP_CO
0        20180327           11110  366210.103583
1        20180327           11140  342142.549367
2        20180327           11170  304921.523454
3        20180327           11200  362355.751708
4        20180327           11215  391731.475575
...           ...             ...            ...
14320    20230330           11620  456589.921875
14321    20230330           11650  591490.761454
14322    20230330           11680  870163.987396
14323    20230330           11710  739415.762633
14324    20230330           11740  491213.922421

[14325 rows x 3 columns]