In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../data/main_df.csv', index_col=0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1187
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_cd       1188 non-null   int64
 1   gu            1188 non-null   object
 2   temperature   1186 non-null   float64
 3   humidity      1186 non-null   float64
 4   avg_re_dust   1188 non-null   float64
 5   PM10          1188 non-null   int64
 6   PM25          1188 non-null   int64
 7   O3            1188 non-null   float64
 8   NO2           1188 non-null   float64
 9   CO            1188 non-null   float64
 10  SO2           1188 non-null   float64
 11  TOT_LVPOP_CO  1188 non-null   float64
dtypes: float64(8), int64(3), object(1)
memory usage: 120.7+ KB

In [6]:
df = df.dropna()

In [8]:
df.head()

,date_cd,gu,temperature,humidity,avg_re_dust,PM10,PM25,O3,NO2,CO,SO2,TOT_LVPOP_CO
0,20180327,은평구,18.833333,53.583333,79.750000,95,63,0.036,0.044,0.6,0.006,442351.062267
1,20180328,노원구,18.461538,62.230769,32.384615,59,37,0.032,0.036,0.7,0.007,537207.775063
2,20180328,양천구,17.842105,48.842105,23.473684,50,40,0.031,0.033,0.6,0.005,400286.797388
3,20180329,강남구,19.909091,55.636364,42.727273,54,40,0.017,0.047,0.5,0.007,877847.112442
4,20180329,강북구,19.571429,62.428571,22.142857,59,34,0.030,0.028,0.5,0.004,303380.027396