In [1]:
!pip install geopy
from geopy.geocoders import Nominatim
import pandas as pd

Requirement already satisfied: geopy in c:\users\82106\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\82106\anaconda3\lib\site-packages (from geopy) (2.0)

In [2]:
def geocoding_reverse(lat_lng_str): 
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    address = geolocoder.reverse(lat_lng_str)

    return address

In [3]:
import pandas as pd
file = "C:\\Users\\82106\\Desktop\\새 폴더\\서울시버스정류소위치정보(20230417).xlsx"

data_frame = pd.read_excel(file)
print(data_frame.head())

     NODE_ID  ARS_ID           정류소명         X좌표        Y좌표
0  100000001    1001        종로2가사거리  126.987750  37.569765
1  100000002    1002    창경궁.서울대학교병원  126.996566  37.579183
2  100000003    1003      명륜3가.성대입구  126.998340  37.582671
3  100000004    1004       종로2가.삼일교  126.987613  37.568579
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243

In [5]:
from collections import Counter

gu=[]

for i in range(len(data_frame)) :
    x= data_frame.X좌표[i]
    y= data_frame.Y좌표[i]
    
    address = geocoding_reverse((y, x))
    
    
    split_address = str(address).split(", ")
    reversed_address = split_address[::-1]
    selected_address = reversed_address[3]
    
    gu.append(selected_address)
    
count = Counter(gu)
print(count)

Counter({'성북구': 695, '강서구': 691, '서초구': 691, '강남구': 618, '구로구': 605, '마포구': 600, '영등포구': 600, '노원구': 583, '은평구': 566, '서대문구': 530, '성동구': 509, '송파구': 506, '관악구': 505, '강북구': 498, '동작구': 488, '강동구': 434, '도봉구': 429, '종로구': 419, '양천구': 404, '중랑구': 392, '금천구': 392, '용산구': 377, '동대문구': 347, '광진구': 321, '중구': 246, '서울': 63, '구리시': 7, '하남시': 7, '광명시': 5, '김포시': 4, '성남시': 4, '강일동': 3, '명동': 2, '부천시': 2, '흑석동': 2, '역삼2동': 2, '회현동': 1, '광희동': 1, '역삼동': 1, '의정부시': 1, '고양시': 1, '천연동': 1, '성산2동': 1, '상암동': 1, '덕양구': 1, '계양구': 1, '안양시': 1, '부평구': 1, '미사2동': 1})

In [9]:
df = pd.DataFrame(list(count.items()), columns=['구', '빈도수'])
print(df)

       구  빈도수
0    종로구  419
1    성북구  695
2   서대문구  530
3     중구  246
4    용산구  377
5     명동    2
6    회현동    1
7    광희동    1
8    성동구  509
9    역삼동    1
10   강남구  618
11   동작구  488
12   광진구  321
13   구리시    7
14  동대문구  347
15   중랑구  392
16   강북구  498
17   도봉구  429
18   노원구  583
19  의정부시    1
20    서울   63
21   은평구  566
22   고양시    1
23   천연동    1
24   마포구  600
25  성산2동    1
26  영등포구  600
27   상암동    1
28   양천구  404
29   구로구  605
30   부천시    2
31   강서구  691
32   김포시    4
33   덕양구    1
34   계양구    1
35   광명시    5
36   금천구  392
37   안양시    1
38   부평구    1
39   흑석동    2
40   관악구  505
41   서초구  691
42   성남시    4
43  역삼2동    2
44   강동구  434
45   송파구  506
46   하남시    7
47  미사2동    1
48   강일동    3

In [18]:
df.to_csv("seoul_population.csv", index=False, encoding="cp949")